<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taskManager.dao.ITaskDao" >
  
  <select id="selectTaskList" resultType="com.taskManager.vo.db.TaskDbVo">
  	SELECT 
  		task_id taskId,
  		task_name taskName,
  		param,
  		progress,
  		finish_type finishType,
  		create_time createTime,
  		create_by createBy,
  		update_time updateTime,
  		update_by updateBy
  	FROM 
  		t_task
  </select>
  
</mapper>